[2022-09-19 09:14] med3000 opened #8 "[issue form] testing issue"
### What happened?

hi i have an issue my safe is not loading on my mobile

### Date and time this happend or you first noticed this issue

19-09-2022 11:00

### Network

Ethereum Mainnet

### Safe Address

123456

### Token Address

n/a

### Token Type

_No response_

### Issue Category

Token missing completely / not visible in the interface or service

### Transactions

_No response_

### Code

[2022-09-19 12:53] med3000 opened #9 "[issue form]"
### Issue Category

Token not up-to-date, in the interface or service

### What happened?

safe not loading test test

### Date and time this happend or you first noticed this issue

11/11/2022

### Network

Ethereum Mainnet

### Safe Address

12

### Token Address

_No response_

### Token Type

_No response_

### Transactions

_No response_

### Code of Conduct

- [X] I agree to follow this proj

[2022-09-19 13:18] med3000 opened #10 "[issue form] test issue"
### Issue Category

Token balance not up-to-date, in the interface or service

### What happened?

i added my safe and the balance is not update to date the token value is missing

### Date and time this happend or you first noticed this issue

30-09-2022 12:30

### Network

Ethereum Mainnet

### Safe Address

_No response_

### Token Address

_No response_

### Token Type

ERC20

### Transactions

[2022-09-20 19:28] jakekvm01 opened #11 "[Missing Token] Usdc tokens not showing in the UI"
### What happened?

User's USDC tokens are not shown in the UI. They are experiencing delays in eth network. Intercom ticket https://gnosis-safe.io/app/eth:0xcDcCF94f10d8A7165C1A336DD3795430a6CDE530/balances and https://etherscan.io/address/0xcDcCF94f10d8A7165C1A336DD3795430a6CDE530.

### Network

Ethereum Mainnet

### Safe Address

eth:0xcDcCF94f10d8A7165C1A336DD3795430a6CDE530

### Token Address

[2022-09-21 17:07] joanpan opened #12 "NFT not showing up on UI (Assets page)"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

NFT not showing up on assets page, only showing placeholder:
![image](https://user-images.githubusercontent.com/114049668/191567398-219194de-b607-4551-860d-8453371a7dee.png)
Tested on my end - also not seeing NFT

### Date and time this happened or you first noticed this issue

22-09-22

###

[2022-09-22 03:54] inahlikenoother opened #13 "Getting Error -33004: Invalid Response in Safe mobile app when executing tx (Polygon)"
### Issue Category

Transaction execution issue

### What happened?

Getting **Error -33004: Invalid Response
Data: "response not found for request id 'int(4)'"** when executing tx from Safe mobile app in Polygon network.

![47FA4E1F-61A3-4950-AB8B-BBDEAD3E3EF1](https://user-images.githubusercontent.com/114049495/191654656-3def01e1-c6cb-408a-8741-90ddcbe6aa17.jpeg)

### Date and time this happened

[2022-09-26 07:32] iamacook commented on #12
Thanks for submitting the issue @joanpan.

The image is not showing because it doesn't exist. We only add logos for ERC-20 tokens.

[2022-09-26 07:32] #12 closed

[2022-09-26 07:32] liliya-soroka commented on #13
Thank you foe reporting. It's a known issue in the mobile app - https://github.com/safe-global/safe-ios/issues/2154
The fix will be available in the next release 3.17.0

[2022-09-26 07:32] #13 closed

[2022-09-26 17:00] joanpan opened #14 "[Missing Token] The following token is not up to date: BNB_USDT"
### What happened?

Network: BSC
BNB_USDT token not showing on Assets page.

Safe Assets page:
![image](https://user-images.githubusercontent.com/114049668/192336483-0405dfea-64b7-47b4-af00-62740f4096d8.png)

On-chain:
![image](https://user-images.githubusercontent.com/114049668/192336576-41954a66-73c6-4383-adf2-4169fc4d49f1.png)

### Network

Ethereum Mainnet

### Safe Address

0x505d1180061727c5

[2022-09-26 18:47] joanpan opened #15 "[BSC chain]Transaction does not post in Transaction Queue after submitting/signing"
### Issue Category

Transaction execution issue

### What happened?

### Date and time this happened or you first noticed this issue

27-09-2022

### Network

Binance Smart Chain

### Safe Address

0x4aBA7742B54DC89Fa03220299fD2550F9828a7aD

### Token Address

0xe9e7cea3dedca5984780bafc599bd69add087d56

### Token Type

ERC20

### Transactions

[code]

### Code of Conduct

- [X] I agree to follow t

[2022-09-26 20:12] joanpan opened #16 "Safe couldn't be loaded"
### Issue Category

Safe loading issue, doesnt load on any interface

### What happened?

User reported safes not loading. Tested on my end, same issue.
![image](https://user-images.githubusercontent.com/114049668/192370495-88ffcc62-0cf4-4854-acec-b4801d7df596.png)

Safes affected:
https://gnosis-safe.io/app/bnb:0x714872BD713984a67384Ee6e60414ADF1f2F62d5/home
https://gnosis-safe.io/app/bnb:0xc7c36

[2022-09-26 21:59] joanpan commented on #15
Another user reported similar issue.
Safe address: bnb:0x714872BD713984a67384Ee6e60414ADF1f2F62d5

![image](https://user-images.githubusercontent.com/114049668/192388180-bc15fa98-6ab7-44fb-9016-92bf190f9b5a.png)

[2022-09-26 23:45] joanpan commented on #16
Issue resolved after a couple of hours

[2022-09-26 23:45] #16 closed

[2022-09-27 00:47] joanpan commented on #15
Another user with a similar issue. Cannot execute transaction on both desktop and iOS.
Safe address: bnb:0x9352e125c65FC0Ed210E9aA612EcB22B94878353

Stuck pending:
![image](https://user-images.githubusercontent.com/114049668/192405938-378f441b-a6a2-412c-a508-bdcb532a9f46.png)

Error on iOS:
An SSL error has occurred and a secure connection to the server cannot be made

[2022-09-27 06:21] liliya-soroka commented on #11
@jakekvm01 , seems that the balance is up to date and USD coin is displayed in the UI.
<img width="623" alt="image" src="https://user-images.githubusercontent.com/338622/192448125-e5d95f15-2b3d-466f-8cdd-601b01037a43.png">

[2022-09-27 06:21] #11 closed

[2022-09-27 12:18] #10 closed

[2022-09-27 12:18] #9 closed

[2022-09-27 23:35] joanpan opened #18 "[Goerli] Safe couldn't be loaded"
### Issue Category

Safe loading issue, doesnt load on any interface

### What happened?

User reported safes not loading. Tested on my end, same issue.
![image](https://user-images.githubusercontent.com/114049668/192655522-56e2a88e-5864-495b-87d4-e77edcf792a5.png)

Safes affected:
https://gnosis-safe.io/app/gor:0x2FE1aE582F5Fd58f06a7DE630FEEC2b61E16Bc62/home
https://gnosis-safe.io/app/gor:0xdb7ba

[2022-09-28 08:27] med3000 commented on #18
hi, thanks for raising this, the affect Safes appear to be loading for me now - can you confirm if this is true for you also?

[2022-09-28 09:21] Uxio0 commented on #14
This is fixed now, thanks for reporting

[2022-09-28 09:21] #14 closed

[2022-09-29 13:35] med3000 commented on #15
hi @joanpan is this still an issue? It was happening around the time there were some issues with bsc

[2022-09-29 21:59] joanpan opened #20 "Safe is READ-ONLY when connected to Owner wallet"
### Issue Category

Other

### What happened?

Owner wallet: eth:0xFA2930a9d96e91B0A7e78d9fEBB7A8c744afD0da

Steps taken:
- disconnected wallet
- deleted cookies on gnosis site
- closed gnosis site
- opened metamask extension and removed connections to gnosis from all wallets
- cleared cookies, history other browser data
- closed chrome and reopened
- update chrome
- for some reason, user does not

[2022-09-30 10:53] med3000 commented on #20
hi @joanpan taking a look into this, could you find out if the same is happening on the second owner also? I see an outgoing transaction sent after this ticket was created.

[2022-09-30 19:38] joanpan commented on #18
Working now, thanks

[2022-09-30 19:38] #18 closed

[2022-09-30 19:39] joanpan commented on #15
No updates from the users yet

[2022-10-01 07:34] CindyLo0 opened #21 "Cannot verify proxy contract in Etherscan"
### Issue Category

Other

### What happened?

User cannot verify proxy contract in Etherscan. Getting this error when they try to verify,

![image](https://user-images.githubusercontent.com/79137197/193398401-ae4d6b64-1e02-4553-92f6-2dd4cefd1ebb.png)

### Date and time this happened or you first noticed this issue

30-09-2022 09:35 GMT+8

### Network

Ethereum Mainnet

### Safe Address

0x5FAB128

[2022-10-03 07:58] reyserveth opened #22 "BSC UI delay"
### Issue Category

Safe and transaction que not loading.

### What happened?

Issue: The total balance is not loading and can't see the queue. After a few minutes the balance was shown in the UI but cannot see the transaction que. User need access to some funds immediately because they are in the middle of a sale. Trying to send funds but stuck in pending. Also, 2 transactions that went through b

[2022-10-03 16:45] med3000 commented on #21
hi @CindyLo0 thanks for raising. I believe on Mainnet it requires at least one transaction after which the proxy contract can be verified. The read/write as a proxy functionality is added automatically after at leas one transaction.

[2022-10-03 17:38] shebeengs opened #23 "[Polygon] Executed safe transaction still shows as queued in the UI"
### Issue Category

Transaction execution issue

### What happened?

User already executed nonce `98` but still shows as a queued transaction in the interface. Checking on Polygonscan, `nonce` for the safe is already `99`.

Nonce in safe interface:
![image](https://user-images.githubusercontent.com/54754746/193642323-9bacd391-2f4f-4316-be9d-13cdd9ab6aa6.png)

Nonce in Polygonscan:
![image](https:/

[2022-10-04 01:20] shebeengs commented on #23
The queue seems to be updated now, so it might have been just a delay.

[2022-10-04 03:42] inahlikenoother opened #24 "Polygon Safe cannot be loaded"
### Issue Category

Safe loading issue, doesnt load on any interface

### What happened?

User cannot load their Polygon safe, getting error "This Safe couldn't be loaded"

Safe address https://gnosis-safe.io/app/matic:0x1b4441020351E38A1501cB3859cEAbE95B666bD4

![image](https://user-images.githubusercontent.com/114049495/193729469-0b065722-a15a-4e53-a9aa-c6e4897d01f9.png)

### Date and time this

[2022-10-04 03:44] la1234512345 commented on #24
Same experience on this safe address
https://gnosis-safe.io/app/matic:0xe12723fD734a7B5B1682e2542D3A769C033741aF
![image](https://user-images.githubusercontent.com/114544040/193729767-6c4b5f87-4239-4bd5-a80f-222982ba29e1.png)

[2022-10-04 04:34] Sherie15 commented on #24
![image](https://user-images.githubusercontent.com/113986185/193734904-f850941b-d6fb-499d-abcb-c840b456d87c.png)

https://gnosis-safe.io/app/matic:0xb5408c2977daa3E371279b72bD598000db84d12a

Following errors when adding and accessing Safe on mobile and Web app:

 1. 'Server error' when accessing existing safes on mobile iOS
 2. When adding the Safe on the web app, it gives 'Address given is not a

[2022-10-04 05:58] inahlikenoother commented on #24
Another user experiencing the same issue

https://gnosis-safe.io/app/matic:0xd196FF4d7147E24837C9991fCBe6501E42852177

![image](https://user-images.githubusercontent.com/114049495/193745239-546f6961-45bc-4ef0-bf5d-737a176c723f.png)

[2022-10-04 06:08] Sherie15 commented on #24
![image](https://user-images.githubusercontent.com/113986185/193746644-5f83a830-4ea0-4901-9700-307d6c7c3fc5.png)
![image](https://user-images.githubusercontent.com/113986185/193746704-9ef9cec4-6723-46b9-87ef-6c10f3cd7ef3.png)

https://gnosis-safe.io/app/matic:0xC9ae380E267FDD0983d52608C01c15AE640B42e3

[2022-10-04 08:53] liliya-soroka commented on #24
Could you recheck your safes, please?
I will close the issue as all of them are loaded for me now and, please, take into account maintenance work on the polygon side
<img width="1076" alt="image" src="https://user-images.githubusercontent.com/338622/193776997-d0b3e6fe-40db-49bd-ae60-4567cdb2c192.png">

[2022-10-04 08:53] #24 closed

[2022-10-04 08:54] liliya-soroka commented on #23
closing the issue, as it works now.
It's also some maintenance work on the polygon side in the progress
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/338622/193777690-e868d96e-05c8-4318-b9c7-fa9359144b8a.png">

[2022-10-04 08:54] #23 closed

[2022-10-05 07:41] med3000 commented on #15
hi @joanpan will close this ticket off since no further news from the user and we're unable to reproduce this. thanks

[2022-10-05 07:41] #15 closed

[2022-10-05 07:41] #21 closed

[2022-10-05 07:42] med3000 commented on #20
hi @joanpan will close this ticket off since no further news from the user. thanks

[2022-10-05 07:42] #20 closed

[2022-10-05 09:03] Sherie15 opened #25 "Unable to claim Safe tokens"
### Issue Category

Other

### What happened?

The user attempted to claim his Safe tokens five-eight times using Safe address 0x2B2a44d107eC260147bfB6A854d10e46B5133b8d but there's no transactions from the Safe pending queue

https://gnosis-safe.io/app/eth:0x1158A37B17B7ac2343764113537f68B57151ac17/transactions/queue

The current Safe nonce shows 11 and the Safe claim transaction proposes nonce 1

[2022-10-05 09:06] liliya-soroka commented on #25
@Sherie15 , could we get information about the amount the user is trying to claim. I am surprised that there is only set delegate action on review screen

[2022-10-06 04:12] inahlikenoother opened #26 "Polygon safe can't be loaded"
### Issue Category

Safe loading issue, doesnt load on any interface

### What happened?

Safe on Polygon network cannot be loaded. Gives error "This safe couldn't be loaded"

https://gnosis-safe.io/app/matic:0x14EDff778830Fb07C2C6703319ea87f38B40EBAf

![image](https://user-images.githubusercontent.com/114049495/194212193-242ca577-550a-456f-ac93-ddf7c3c30359.png)

### Date and time this happened o

[2022-10-06 04:15] inahlikenoother commented on #26
Sorry, it's related to this issue https://github.com/safe-global/safe-services-status/issues/361

Closing this one now

[2022-10-06 04:15] #26 closed

[2022-10-06 07:45] Sherie15 commented on #25
We went through the step by step to claim the Safe tokens and this is the information from the user when we try to check the number of tokens he will claim.

![image](https://user-images.githubusercontent.com/113986185/194247052-86cb2f55-2612-4f8f-b6e0-5c3cdd1f37e0.png)

https://raw.githubusercontent.com/safe-global/safe-token/main/user-allocations/safes_tokens.csv

![image](https://user-images.gi

[2022-10-06 07:47] reyserveth opened #27 "Polygon: Safe not loading"
### Issue Category

Safe loading issue, doesnt load on any interface

### What happened?

After 2 hrs of trying. The safe still will not load. It will just say "This Safe couldn't be loaded"

### Date and time this happened or you first noticed this issue

06-10-2022 3:46 PM

### Network

Polygon

### Safe Address

0xa23E2135A4f1a4bd867BdDf8Ad7EABaDD203f6AA

### Token Address

_No response_

### T

[2022-10-06 08:03] reyserveth commented on #27
reported issue already

[2022-10-06 15:00] reyserveth commented on #22
@liliya-soroka - I checked the users for this issue and they are now able to load the safe. I will be closing this ticket.

[2022-10-06 15:00] #22 closed

[2022-10-06 15:01] reyserveth commented on #22
Issue resolved

[2022-10-07 09:08] liliya-soroka commented on #25
![image](https://user-images.githubusercontent.com/338622/194517410-74a8565c-69eb-489c-b7db-0121c122b6f5.png)

[2022-10-07 10:24] DiogoSoaress commented on #25
The shared [URL](https://gnosis-safe.io/app/eth:0x1158A37B17B7ac2343764113537f68B57151ac17/transactions/queue) also shows me the correct data.

The two ways we have to display 0 are either:
1. Safe is not eligible (which **is** as we see on the top bar)
2. There is a network issue and we fallback to show 0.

Given the second case, I would ask the user to reload the app and try again the claiming p

[2022-10-08 02:50] phoebe-serveth commented on #25
User tried claiming again but still having the same issue. Showing 0 allocated tokens but when I checked it on my end it shows an amount. Tried clearing cache and claim again but still the same. Also, user keeps getting this error message from time to time. "Unexpected error while loading the app"
![image](https://user-images.githubusercontent.com/114040259/194684502-6580ff3c-d914-4281-aa0b-088ea6

[2022-10-10 13:00] schmanu commented on #25
This issue arises when some requests fail which try to:
- fetch the claiming data OR
- fetch the vesting status on-chain (via RPC)

In either case the error should get logged to the browser console. Could the user check the browser console for errors?

[2022-10-10 13:01] schmanu commented on #25
Okay I just saw that the user was able to claim. I think we can close this issue.

https://gnosis-safe.io/app/eth:0x1158A37B17B7ac2343764113537f68B57151ac17/transactions/multisig_0x1158A37B17B7ac2343764113537f68B57151ac17_0xadb9139bbfdc8680b80d30de28f4482246dd7a88c3840ba855f93324f22cc68c

[2022-10-10 18:58] joanpan opened #28 "Queued transactions randomly disappeared, Current nonce is off"
### Issue Category

Transaction missing / not visible in app or service

### What happened?

![image](https://user-images.githubusercontent.com/114049668/194933924-f16c57e2-1d5c-4a07-af8f-0de08bb18e40.png)

Current nonce:
![image](https://user-images.githubusercontent.com/114049668/194934453-e363504f-0ddd-490c-ae8e-614af3c12e11.png)

Last executed:
![image](https://user-images.githubusercontent.co

[2022-10-11 00:16] phoebe-serveth opened #29 "Transaction queue tab not showing more than 20 queues"
### Issue Category

Transaction missing / not visible in app or service

### What happened?

User initiated 25 transactions but only 20 transactions are showing up in queue tab.

Related issue - [https://github.com/safe-global/safe-react/issues/3022](url)

### Date and time this happened or you first noticed this issue

11-10-2022 08:15

### Network

Ethereum Mainnet

### Safe Address

0x4731E9030

[2022-10-11 08:32] liliya-soroka commented on #29
I suggest closing the ticket as it's a known issue. It's properly commented in the https://github.com/safe-global/safe-react/issues/3022 . We are not going to fix it in the current app, but it is fixed in the new refactored web-core app

[2022-10-11 08:40] DiogoSoaress commented on #29
here -> https://github.com/safe-global/safe-react/issues/3022#issuecomment-1232496095

[2022-10-11 09:37] Uxio0 commented on #28
@joanpan This was a temporary indexing issue and it's fixed now

[2022-10-11 09:37] #28 closed

[2022-10-11 10:23] DiogoSoaress commented on #25
User was already able to claim

[2022-10-11 10:23] #25 closed

[2022-10-11 12:40] reyserveth opened #30 "ETH: Unable to load Safe"
### Issue Category

Safe loading issue, doesn't load on any interface

### What happened?

Unable to load Safe in the UI.

### Date and time this happened, or you first noticed this issue

11-10-2022 8:30 PM

### Network

Ethereum Mainnet

### Safe Address

0x14caA9EA7A15f18ee85a1541766Ea058a6CBDeE1
0x7401d6ae9C98BEf608c981AD151B37124c04738E
0xb85aaF40B57f841208b2D0247aFA5B84373D45b3
0x28Ae028cB2c

[2022-10-11 13:02] reyserveth opened #31 "BSC: Unable to load Safe"
### Issue Category

Safe loading issue, doesnt load on any interface

### What happened?

Unable to load Safe in the UI
Failed transaction. "Failed to create transaction: Server side error

### Date and time this happened or you first noticed this issue

11-10-2022 9:00 PM

### Network

Binance Smart Chain

### Safe Address

0xda1800a8F2A32dc422f1F1b33e5dDE806e99B97c
0xe6E26A17Dc579570686B3158326F

[2022-10-11 13:09] Claire-serveth commented on #31
Hello team,

Another users/addresses that can't load their safes currenntly:

bnb:0xFAdB6FbA3213C0D300D918a55f7946dF7C1A3b3e

bnb:0x3c02B427c783D6699aF06C29D362a6f3640836B3

bnb:0xBBa59472fC7f26C413944A779C46044412d01E7E

bnb:0x5bea976f5b75A83Ae9375E234C8C99D38981E755

bnb:0xC3e6D13CE05aA0a75634B47B2D791fb5e5670F65

bnb:0x8B8BaA866ba48a156376AeEaA5Cc6DfE17e71b3b

[2022-10-11 13:13] Claire-serveth commented on #30
Another users/addresses that can't load their safes currenntly:

eth:0x2D163ab86C046a24D039ea3f93624de96aB73427
eth:0x7d89900543FB8723C21faeCEfeB6E7Fc96F8A2ad
eth:0xb298cECc6C3eF5284ad4a24c12883F87752654a2
eth:0x5B5173599A2F29973397c34D01a49b3A0Ee8963D
eth:0xc45A789969EB22b7382aE6a580B6c67493A9E200

[2022-10-11 13:20] jakekvm01 commented on #30
Additional addresses

eth:0xa40FBd692350C9Ed22137F97d64E6Baa4f869E8C
eth:0x4b6c63E6a94ef26E2dF60b89372db2d8e211F1B7
eth:0x07de0318c24D67141e6758370e9D7B6d863635AA
eth:0x4B107Fb97F7Dbe18D7Fe8B588731CfD590aaed2E
eth:0x694a8B77a71CE9500D7448D80345a92082AB8C18
eth:0x42892f6cdB42DAEA233Fb4e5a2728d0bDf14af54
eth:0x66736EAbEFEb5825c96b394497D4c78370CB6624
eth:0xEd2AAdADA6E6BaF17eC4ac3a0602459B87865243
et

[2022-10-11 13:25] cigarbnb commented on #31
Is anybody can help?

[2022-10-11 13:35] reyserveth commented on #31
ETH delay is now fixed. Safe are now online

[2022-10-11 13:35] #31 closed

[2022-10-11 13:37] reyserveth commented on #30
ETH Safe unable to load issue is now fixed. I am able to load multiple safes.

[2022-10-11 13:37] #30 closed

[2022-10-11 17:08] shebeengs opened #32 "Transactions in Queue/History displays as a contract interaction instead of a normal Send"
### Issue Category

Other

### What happened?

Sending WILD token (ERC-20) and NFTs displays as a contract interaction instead of a normal Send transaction in Queue/History. User is only sending these tokens via **New transaction** > **Send funds** or **Send NFT**

![image](https://user-images.githubusercontent.com/54754746/195154805-38514fe5-2733-4cd3-8744-3107131ae48b.png)
![image](https://user-

[2022-10-11 17:27] liliya-soroka commented on #32
https://safe-client.gnosis.io/v1/chains/1/safes/0x053387FE5c3d990510C0069842c4C77069aDBc55/transactions/history  - custom tx on prod CGW  and outgoing on staging CGW https://safe-client.staging.5afe.dev/v1/chains/1/safes/0x053387FE5c3d990510C0069842c4C77069aDBc55/transactions/history

[2022-10-11 17:31] shebeengs commented on #32
Thank you. Should we expect this to be fixed in the next update?

[2022-10-11 18:08] mikhailxyz commented on #32
@shebeengs Liliya just left a note for developers who will debug the issue. We're still looking into it :)

[2022-10-13 16:21] Claire-serveth opened #34 "Metamask gas limit error for safe creation on Optimism network"
### Issue Category

Transaction execution issue

### What happened?

User is trying to create a new safe, but Metamask prompts "Gas limit must be at least 21000" error.
Already tried basic troubleshooting steps, using other browsers, and using different RPC. Still throws the same error.

![image](https://user-images.githubusercontent.com/114005210/195651417-df1255df-2933-449b-8aff-8ae200bf7cd5.png

[2022-10-13 17:39] francovenica commented on #34
Hi there. I tried once and I got the error you reported, but after waiting for a bit I tried 3 more times and the estimation worked every time. Can you please give it another try?
If the error persist then respond to this comment and I'll bring it to the dev team.

[2022-10-17 08:42] mikhailxyz opened #37 "Transaction proposed by a delegate is not displayed in the app"
### Issue Category

Transaction missing / not visible in app or service

### What happened?

I'm testing this on mainnet, safe address is 0x71e1c244eF17516bcD1FA65db74F8F4f397e9097 and delegated address (which is not an owner) is 0x9e44554C0832151B08a37B484d7DfEada7d34Eb7. You may verify the address is delegated here https://safe-transaction-mainnet.safe.global/api/v1/delegates/?safe=0x71e1c244eF1

[2022-10-17 08:44] mikhailxyz commented on #37
this came from discord's #api channel
https://discord.com/channels/907968493134155807/960898410037272616/1031225098801266749

[2022-10-17 11:25] Uxio0 commented on #32
Tx service correctly shows transfers inside transactions

[2022-10-17 11:42] Uxio0 commented on #37
As mainnet is still not migrated you should still be using https://safe-transaction.mainnet.gnosis.io/

[2022-10-17 11:42] #37 closed

[2022-10-17 12:43] Uxio0 commented on #37
We are not aware of any downtime on safe-transaction.mainnet.gnosis.io , but glad that it worked for you!

[2022-10-17 21:19] joanpan opened #38 "Safe desktop app installation failed on Windows 7"
### Issue Category

Other

### What happened?

User tried installing the Safe desktop app, v3.22.1 on an old Windows 7 laptop but the installation failed.

Is Windows 7 not supported?

### Date and time this happened or you first noticed this issue

18-10-2022

### Network

Ethereum Mainnet

### Safe Address

_No response_

### Token Address

_No response_

### Token Type

_No response_

### Trans

[2022-10-18 04:22] la1234512345 opened #39 "Token is visible in blockexplorer but not in the Safe UI"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

User bridged assets (USDT) to Optimism Safe and while it has arrived as confirmed in the blockexplorer, it is not reflecting in the UI

https://optimistic.etherscan.io/address/0x726F4D7511586f6A562d6AAee1F63a6a7eFc72dA
https://optimistic.etherscan.io/tx/0x97546ab7a5553cc79ad0a9e6bb27c66bb44c

[2022-10-18 04:27] DefiDebauchery commented on #37
Actually, I can also confirm an issue. POST requests to Safe Transaction Services on gnosis.io are not working, as the infra is redirecting all requests to safe.global. Since POST requests cannot be forwarded, any API calls using gnosis.io get treated like a GET request, which simply returns all transactions.

The answer is obviously for external clients to change all service URLs to the safe.glob

[2022-10-18 07:47] JagoFigueroa commented on #39
Morning! Thanks for reporting this. We are currently experiencing some indexing issues on Optimism and the infra team is working on it. I will let you know as soon as it's fixed 😄

[2022-10-18 08:19] dasanra commented on #38
We are not providing support to Windows 7 as it's life cycle already ended. As last check make sure that you are using a 64 bits system, as we never provided a 32 bit compatible build but if it's not working it won't be fixed.

[2022-10-18 10:02] Uxio0 commented on #37
Hi @DefiDebauchery, during our migration we cannot do more than redirecting from the old domain to the new one. I encourage you to stay tunned to our migration and change the urls you are using as soon as we migrate: https://forum.gnosis-safe.io/t/transaction-service-migration-october-2022/1550

[2022-10-18 10:15] Uxio0 commented on #37
@DefiDebauchery Sorry, we checked and we were not using a `308` status code for redirect. Everything should be working now even if you `POST` to the old url, let us know and thanks for reporting.

[2022-10-18 16:53] #38 closed

[2022-10-18 16:56] joanpan opened #40 "[Polygon] Token not showing up on Assets page"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

User reported LDO token not showing up on Assets page but is showing up on block explorer, not showing up on my end either

Assets page: ![image](https://user-images.githubusercontent.com/114049668/196495651-4b843602-d2bc-4478-9ff1-c37b753457e2.png)

Blockexplorer:
![image](https://user-imag

[2022-10-18 17:18] joanpan commented on #40
Reporting a similar issue for the following safes:
matic:0x08Ff1d235959963180683E463d368546e902F556
matic:0x27911AA37Ab20F14B14977E7E8a3faA9c821d87a

[2022-10-19 06:29] JagoFigueroa commented on #40
Good morning! Looks like we are experiencing some indexing issues on the chain. I will let the infra team know 😄

[2022-10-19 14:45] JagoFigueroa commented on #39
Hi! The issue should be resolved for the user now. I can see the token on his safe and after performing a few transactions on my test safe I can see that asset balances are updating as expected now 😄

Cheers!

[2022-10-19 18:59] Claire-serveth opened #41 "No confirmation pops up on metamask through walletconnect on iOS mobile app"
### Issue Category

Transaction execution issue

### What happened?

User was trying to process transactions, which then proceeds to the owner key page but when user click MetaMask wallet, nothing pops up on MetaMask.

https://user-images.githubusercontent.com/114005210/196780389-6a3299f8-0592-4e00-a41f-5ce112a52bec.mp4

### Date and time this happened or you first noticed this issue

20-10-2022 1

[2022-10-20 00:16] la1234512345 commented on #39
Thank you! I'll let the user know. Cheers!

[2022-10-20 00:16] #39 closed

[2022-10-20 06:38] JagoFigueroa commented on #41
Good morning! Thank you for reporting this. I was able to reproduce it as well, will let the mobile team know 😄

[2022-10-20 09:16] DmitryBespalov commented on #41
Good day, we are in the migration process of the infrastructure, and unfortunately the wallet connect messaging is down. We'll issue a new release to fix it within a week.

If you wish to use your key on the mobile device, for the meantime, please either use Ledger or import the key to the mobile app directly.

Thank you for understanding.

[2022-10-20 11:40] Uxio0 commented on #40
Hi everyone,

At first we thought it could be an indexing problem but after further analysis we realised that it was an issue with the token. As we see it's a proxy, and at the time we indexed it it had no decimals, so we were excluding it from the balances list.

It's showing now

[2022-10-20 11:40] #40 closed

[2022-10-20 23:55] phoebe-serveth opened #42 "iOS safe mobile app crashes instantly upon opening, happens to iPhone 13 pro max"
### Issue Category

Other

### What happened?

One user reported that iOS mobile app crashes instantly upon opening. See attached video
Safe app version: 3.17.0
Phone model: iPhone 13 pro max , iOS 16.0.3 (20A392)

https://user-images.githubusercontent.com/114040259/197078413-01acd7fa-a6eb-417c-b9a9-1dd2a2ee4068.mp4

User has safes in Polygon, BNB, Arb and OP
*Have not tried to reinstall the app y

[2022-10-21 05:52] DmitryBespalov commented on #42
@phoebe-serveth please advise to keep the application, we located the issue and will release a fix for that. The data will be kept after the update.

[2022-10-21 05:53] DmitryBespalov commented on #42
[Crashlytics](https://console.firebase.google.com/u/1/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/cf9e16543fb9560776f9b7d48f033efe?time=last-seven-days&sessionEventKey=4e3a77ad09f14dad8f9dd3727bdb256e_1735176487211692983)

[2022-10-21 14:27] CindyLo0 opened #43 "NFT image not displayed in the UI"
### Issue Category

Other

### What happened?

Some NFTs from the same collection are not being displayed in the safe UI (see screenshot)

![image](https://user-images.githubusercontent.com/79137197/197218310-852d4cbc-15d3-45f5-a4d7-774d58f29eb9.png)

All NFT image from the same collection are displayed when viewed from Zerion app.

### Date and time this happened or you first noticed this issue

[2022-10-21 15:05] JagoFigueroa commented on #43
Hi! Talking with the web team and seeing that we will be migrating to the new web interface soon we won't tackle this at this moment. NFT experience is smoother there and the images for the shared safe are loading fine for me there 😄

Cheers!

[2022-10-23 05:36] Sherie15 opened #44 "Sent ETH to a random 0x000000 recipients address from the transaction history"
### Issue Category

Other

### What happened?

The user said that he executed a sent function for the following recipients shown below but the ETH was sent to a different 0x62dDC9269F38445aCd6bF6f0a0A07bc24bb072F7 address that he does not recognize.

 0x7e94b3fce8ca0a312549fb7013ca9964f6b1f54e for 2ETH
 0xA583ed43f691f96E6C291BAC24FE2b169877DFEA for 0.1ETH

![image](https://user-images.githubuserc

[2022-10-24 08:30] JagoFigueroa commented on #44
Sharing this with the web team. Thanks!

[2022-10-24 10:53] JagoFigueroa commented on #44
Hi again! Do we know if the user is still seeing the 0x0 address on the transaction history screen? or has it switched to the `0x62dDC9269F38445aCd6bF6f0a0A07bc24bb072F7` recipient address?

[2022-10-25 01:29] Sherie15 commented on #44
Hi there! We can confirm it to the user. We will update this ticket once the user will respond.

[2022-10-25 04:50] phoebe-serveth opened #45 "NFTs not showing up in safe assets list"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

ERC721 NFTs are not showing up in asssets list but is visible in polygon scan.

$KMC Land Mystery Box
https://polygonscan.com/token/0x99501338585ac426c3afbe853ad64ea3c662a0b2?a=0x88c4bBC0394Bfa723803b68DEe3212098fFb6137
![image](https://user-images.githubusercontent.com/114040259/197685126-e

[2022-10-25 09:37] CindyLo0 opened #46 "Unauthorized token approval"
### Issue Category

Other

### What happened?

Hi team,

A user reported a token transfer( 0 AWO token) was executed without any confirmation from the Safe. Please check screenshot:

![image](https://user-images.githubusercontent.com/79137197/197737529-a3f0571e-daf1-4039-af48-e1b4d83deb4d.png)

The Safe address seems to have approved the Spender address but how was it able to approve without the c

[2022-10-25 10:08] mikhailxyz commented on #46
The token contract has a security flaw, and the `transferFrom/allowance` functions are public and not protected. For more information, the user should talk to the maintainers of the token contract.

[2022-10-25 10:08] #46 closed

[2022-10-26 23:37] phoebe-serveth commented on #45
Thanks for the update @Uxio0 will let the user know.

[2022-10-27 23:56] phoebe-serveth opened #47 "Transaction executed without confirmation"
### Issue Category

Transaction execution issue

### What happened?

User not really sure if he was able to confirm the transaction but it was successfully executed. Safe interface also shows 0 confirmation but it shows success in transaction history.
![image](https://user-images.githubusercontent.com/114040259/198418512-5b610f8c-a58e-4d52-84f3-94827fce3ccb.png)

Arbiscan also shows that the next

[2022-10-28 09:13] mikhailxyz commented on #47
There was a lag on the backend. There's a confirmation displayed now.

![image](https://user-images.githubusercontent.com/16622558/198551165-90230715-e4e7-4da2-9c2d-0ebc0101dda3.png)

[2022-10-28 09:13] #47 closed

[2022-10-28 18:40] joanpan opened #48 "Unable to process both Uniswap and Curve transaction"
### Issue Category

Transaction execution issue

### What happened?

Unable to process both Uniswap and Curve transaction: GS013 Most likely to fail

No error upon initiating transaction: https://dashboard.tenderly.co/public/safe/safe-apps/simulator/1b9b53e6-ea82-4854-a5e0-f4b152e8ec8a

Error upon execution:
Tx 1: https://dashboard.tenderly.co/public/safe/safe-apps/simulator/1bf984d0-538b-4b96-b0d

[2022-10-29 03:54] zhangzhongnan928 opened #49 "Failed to create/confirm transaction, Gnosis ios app"
### Issue Category

Other

### What happened?

Gnosis iOS app
AlphaWallet iOS app
Connect via WalletConnect.
After signing transactions in AlphaWallet, Gnosis iOS app shows the error as below, and cannot create or confirm transactions.

(note, gnosis website, AlphaWallet iOS app, connect via WalletConnect, works fine. )

![16E4991E-CADF-429A-A920-CE9CFEB70FA3](https://user-images.githubusercontent

[2022-10-29 03:55] zhangzhongnan928 commented on #49
https://user-images.githubusercontent.com/33795543/198812701-aad9f8ae-c59b-4226-b6d6-f31606cc5bfa.MOV

[2022-10-29 21:46] la1234512345 opened #50 "Cannot connect Metamask through Wallet connect on Safe desktop app"
### Issue Category

Other

### What happened?

-User is unable to connect Metamask through Walletconnect in safe desktop app, doesn't return any error
-Restarted computer, disabled VPN, still not able to connect
-User upgraded to Safe desktop app v3.22.1, still not able to connect
-Tried isolating using web app and connected still through Walletconnect, no issues when using web app and have connec

[2022-10-30 15:06] DmitryBespalov commented on #41
@shyos Please try this out: https://testflight.apple.com/join/c6k0CIUk

[2022-10-31 01:23] Sherie15 commented on #44
Hi team, there's still no updates from the user and the ticket is already been open for 8days. I have educated the user to update the GitHub ticket for the confirmation if there are any changes with the recipient's and or it has the same 0x000000 address. We will be closing the ticket now. Thank you!

[2022-10-31 02:45] Sherie15 opened #51 "The user cannot make a swap on Uniswap and Sushiswap due to an error: Object code: 32002 message" "Request of type 'wallet_switch_switchEthereumclaim' already pending for origin https://gnosis-safe.io Please wait""
### Issue Category

Other

### What happened?

The user tried to swap on Uniswap and Sushiswap but the unwrap button is not responding. The Dev console shows an error: Object code: 32002 message" "Request of type 'wallet_switch_switchEthereumclaim' already pending for origin https://gnosis-safe.io Please wait"

Steps taken:
- The user already tried using Firefox/Chrome browsers
- Hard reset (CTRL

[2022-10-31 04:18] la1234512345 commented on #32
@fmrsabino
Having a similar issue here with USDC in ETH network
https://gnosis-safe.io/app/eth:0x755F60a301E070d09137bc4cFf0cBEabF5722ae6/transactions/history

![image](https://user-images.githubusercontent.com/114544040/198930020-2f1d3e0f-129b-4f60-9ef8-dac2bd47c206.png)

[2022-10-31 06:32] Sherie15 commented on #32
Another user is experiencing the same issue. USDC transfer shows Contract interaction from the transaction history.

https://gnosis-safe.io/app/eth:0xC231F1865A706b41182D131F5bA40e2372d9fc51/home

![image](https://user-images.githubusercontent.com/113986185/198945684-e41e317f-e20d-45aa-87df-aa4e1c856b8c.png)

[2022-10-31 13:10] Claire-serveth opened #52 "Simple "send" transaction shown as "contract interaction" in the transaction history - ETH network"
### Issue Category

Other

### What happened?

User just used the "send" button to transfer tokens but after the transaction has been executed, it's shown as contract interaction.
![image](https://user-images.githubusercontent.com/114005210/199014733-5e718962-7097-4fe5-815a-8508484fbb4f.png)

### Date and time this happened or you first noticed this issue

31-10-2022

### Network

Ethereum Mainnet

[2022-10-31 13:19] Claire-serveth commented on #52
Truly sorry, I overlooked already existing issue as this. Will close this duplicate issue now.

[2022-10-31 13:19] #52 closed

[2022-10-31 13:35] fmrsabino commented on #32
I just checked but this Safe has no transactions. Wrong link?

[2022-10-31 13:54] fmrsabino commented on #32
No problem! Thank you for the link!

[2022-11-01 02:08] #32 closed

[2022-11-02 02:43] inahlikenoother opened #53 "USDC PoS showing zero (0) USD value"
### Issue Category

Token balance not up-to-date, in the interface or service

### What happened?

User's USDC PoS tokens are showing 0 dollar value in the safe web u.i
![image](https://user-images.githubusercontent.com/114049495/199383053-db2ebd62-06f3-4eaa-b4c1-90cde3f83621.png)

### Date and time this happened or you first noticed this issue

01/11/2022 11:00 AM PH time

### Network

Polygon

#

[2022-11-02 12:57] ennisjo commented on #51
Is this using the Uniswap / Sushiswap Safe App? Or using walletconnect on Uni's/Sushi's native application?

[2022-11-02 12:59] Claire-serveth commented on #53
Hi John, thank you so much! It's updated on my end as well; will inform the user.

[2022-11-02 13:08] Claire-serveth commented on #51
Hi John, user was using both Uniswap / Sushiswap Safe App.

[2022-11-02 13:48] ennisjo commented on #48
Tx 1: Failed because they needed to execute the tx faster and avoid falling outside of the DEX slippage parameters. See Tenderly simulation with line of code - "to require(amountOut >= params.amountOutMinimum, 'Too little received');
execution reverted". This is where the tx failed and its a slippage parameter. GS013 error is simply telling the user that the internal DEX tx failed.

Tx 2: Same as

[2022-11-02 15:50] Claire-serveth opened #54 "pax.world (PAXW) token not showing up on the UI on Polygon network"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

Token was successfully transferred to the safe as shown on polygonscan, but still not showing up on the UI for more than 4 hours now.
![image](https://user-images.githubusercontent.com/114005210/199536658-ef51c3d6-3f10-4e2a-88c5-8141239ea53e.png)
![image](https://user-images.githubuserconten

[2022-11-02 16:03] dasanra commented on #51
There is an issue with smart contracts that use `transfer` or `send` method. The WETH smart contract it's also affected. Full information available at the following help article.
https://help.gnosis-safe.io/en/articles/5249851-why-can-t-i-transfer-eth-from-a-contract-into-a-safe

Either Uniswap or Sushiswap should be the ones implementing the workaround.

The message regarding `wallet_switchEthere

[2022-11-02 18:50] gawainb commented on #51
Going to try Cowswap to unwrap the tokens.

[2022-11-03 01:35] Sherie15 commented on #51
@dasanra Thank you so much for the feedback and recommendations. I will inform the user then.

[2022-11-03 11:57] dasanra commented on #51
@gawainb I overlooked that was on Polygon. On Polygon I assume you are trying to unwrap wMATIC?

The issue is caused by the same, should be solved on the dApp side. In Polygon Quickswap is working for that

[2022-11-03 14:23] ennisjo commented on #53
Good to close the issue?

[2022-11-03 16:19] Claire-serveth opened #55 "This Safe couldn't be loaded error on Aurora network"
### Issue Category

Safe loading issue, doesnt load on any interface

### What happened?

User can't load their safe for more than an hour now.
![image](https://user-images.githubusercontent.com/114005210/199775739-62ed95cd-0573-4118-bc1d-ec63d7bfadc8.png)

### Date and time this happened or you first noticed this issue

03-11-2022

### Network

Aurora

### Safe Address

0x4f44d184908AE367CAD0cb1b

[2022-11-03 17:42] Claire-serveth commented on #55
Hi Jago, oh I see. Will let the user know. Thank you so much for the updates!

[2022-11-03 18:16] Claire-serveth commented on #53
Hi John, yes, I just checked the ticket on Intercom was closed already. I don't have the option to close this issue on my end though. Thank you again!

[2022-11-03 18:56] Claire-serveth commented on #55
Hi Jiago, I just wonder, the reported safe address can now be loaded but the other safe address of the user, which is in Aurora network as well, can't still be loaded. Safe address: https://gnosis-safe.io/app/aurora:0x58ac3103c54FF3757e3b9132c8598fc5C1e69475/home

Is this an issue with Aurora network still?

[2022-11-03 19:28] JagoFigueroa commented on #55
Hi again! The Aurora team is still checking, yes 😄

For reference none of the 2 safes are loading for me still. They might end up loading when leaving them for some good time but the issue has not been resolved yet.

Cheers!

[2022-11-03 21:14] gawainb commented on #51
Thank you for this recommendation, Quickswap was the workaround.

[2022-11-04 08:19] JagoFigueroa commented on #55
Issues should be resolved now 🥳

[2022-11-04 11:28] ennisjo commented on #54
Checking with the team. Could be that the token contract doesn't 100% comply with ERC20. Can you let the user know that?

[2022-11-04 11:49] Uxio0 commented on #54
Fixed: https://gnosis-safe.io/app/matic:0x4466f0242e93e1c32DED38Bf47d8E37A24e81c3B/balances

[2022-11-04 11:49] #54 closed

[2022-11-04 11:50] #53 closed

[2022-11-04 16:09] jakekvm01 opened #56 "Unauthorized transfer/transaction (BSC)"
### Issue Category

Other

### What happened?

Hi - our safe has been wiped out.
Someone unstaked our liquidity from PCS, and then transfered out the tokens. Our entire treasury has gone.
This transaction is on BSCScan but not show in the Gnosis app. None of us approeved it. How is this possible?
https://bscscan.com/tx/0x085beaf22438287312d56620973b9c00a82b99a44a6cf1f00ef6c88ab3656464
Can you see

[2022-11-04 16:14] mikhailxyz commented on #56
The transaction never interacted with the Safe contract, it called the token contract directly. All token balances are held in the token contract, and transfers are performed with the token contract as well. It seems like the contract was missing authorization checks. Please tell the user to talk to the token's developers

[2022-11-04 16:14] #56 closed

[2022-11-04 16:28] jakekvm01 commented on #56
Thank you @mikhailxyz

[2022-11-04 16:45] Pedrojok01 commented on #56
Hi there, and thank you for your help.
Any idea how could that have happened? Missing authorization checks on the transfer function?
This contract is a basic ERC20. The only addition is ERC20Permit. All contracts are from open-zeppelin. Could it be an issue with the permit function?

[2022-11-07 02:41] Pedrojok01 commented on #56
@mikhailxyz that's right, the attacker contract (`0xCd62dDE0e5aCbc1D596b1C1699c8b2A5f1327693`) managed to drain all fund via a `transferFrom` directly. That means it somehow had to be approved by the safe earlier. But that never happened, and there is no Approval event that matches. Afaik, there is no way to trigger `transferFrom` without previous approval, and any approval emits an event (at leas

[2022-11-07 16:35] #55 closed

[2022-11-08 09:38] mikhailxyz opened #57 "[missing transaction] The interface doesn't show latest transactions on optimism"
### Issue Category

Transaction missing / not visible in app or service

### What happened?

Transaction with nonces 13 and 14 are missing in the interface

Eth transaction executing safe transaction with nonce 14: https://optimistic.etherscan.io/tx/0x69a9b5d0f0901c634e4e268cb6c9ad914db2b3b732fe5dabd03136e554fe45dd

Safe link: https://app.safe.global/oeth:0x0a6dDC58356926838cA6e86217034B9D8FE29E1a

[2022-11-08 11:08] inahlikenoother opened #59 "Optimism - Transaction was executed in the blockchain, but in Gnosis Safe interface it still shows "Pending"/"Needs Confirmation""
### Issue Category

Transaction execution issue

### What happened?

User's transaction (Nonce 56) on OP chain was executed on the blockchain but on gnosis safe it still says is pending. User can't process any transactions

![image](https://user-images.githubusercontent.com/114049495/200548763-0cf5595a-7781-41e7-a861-a4b056c0cf01.png)

Nonce 56 Transaction Hash https://optimistic.etherscan.io/tx/0

[2022-11-08 14:32] schmanu commented on #57
Hey @mikhailxyz if I check the safe now I see the txs with nonces 13 and 14.

Probably the indexer was just lagging a bit behind.

[2022-11-09 05:35] inahlikenoother commented on #59
Double checked user's safe and this is already resolved
![image](https://user-images.githubusercontent.com/114049495/200747385-802f7fd1-caf4-46a0-865a-b45759c73a91.png)

[2022-11-09 15:53] jakekvm01 opened #60 "USDT and USDC tokens are not shown in the Safe UI(Polygon)"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

USDT and USDC tokens not shown in the Safe UI.
https://app.intercom.com/a/inbox/km54f6ih/inbox/admin/5304357/conversation/36000020000?view=List
Safe address : https://app.safe.global/matic:0xf6D329645e24b18cC34CbF226004DdcAd0183b8f/balances

![image](https://user-images.githubusercontent.com

[2022-11-09 16:26] #60 closed

[2022-11-09 16:35] jakekvm01 commented on #60
Thank you @Uxio0

[2022-11-10 11:44] Claire-serveth opened #61 "Can't confirm/execute send transaction using the new UI on Optimism network"
### Issue Category

Transaction execution issue

### What happened?

User was getting this error while confirming/executing the transfer/send transaction: (advised to use the old UI for now and transaction was successfully executed)
![image](https://user-images.githubusercontent.com/114005210/201081580-0224e823-81be-4ddc-aaeb-6beb56bf0d2f.png)

### Date and time this happened or you first noticed

[2022-11-10 15:07] Claire-serveth opened #63 "Mobile app crashes when signing with a Ledger Nano X on an iPad"
### Issue Category

Transaction execution issue

### What happened?

The mobile app crashes when user tried to sign the transaction using Ledger Nano X. All are updated, also tried force close and restarting device. (the last part of the video goes back to the home screen)

Safe version: 3.18.0,
Ledger Nano X version: 2.0.2
Device: M1 iPad Pro
iPadOS: 16.1.1.

https://user-images.githubusercontent

[2022-11-10 15:23] #41 closed

[2022-11-10 15:25] liliya-soroka commented on #63
known issue - https://github.com/safe-global/safe-ios/issues/2464 .
I will bring it back to the team

[2022-11-10 15:36] Claire-serveth commented on #63
Oh, thank you so much liliya! Should I close this issue or keep this open until the issue is fixed?

[2022-11-10 16:30] schmanu commented on #61
Hey @Claire-serveth,

we did not manage to reproduce this issue.
Do you have more information or found a way to reproduce this?

Information that could help:
- Are there any errors logged on the browser console?
- Does the simulation work? If no: Could you provide a Tenderly link to the simulation
- If you have a tx which is "stuck" like described here, a link to it could help so we could debug th

[2022-11-10 19:59] tempe-techie commented on #43
Just to add some additional information. The NFT in question (.basin) has onchain metadata, which means that metadata is written in the smart contract and then base64 encoded.

I believe this is the reason why metadata is not showing on the frontend. So basically you just need to implement the support for NFTs with onchain data on the frontend (decoding the base64 encoded response that you get fro

[2022-11-11 22:24] joanpan opened #64 "Unable to upgrade safe from 1.1.1 to 1.3.0"
### Issue Category

Other

### What happened?

User has two safes they want to upgrade:
Safe 1: 0x4ef986F540d1b24AC7dDEBaB6f387Bcab8D9AED9
Safe 2: 0x34CfAC646f301356fAa8B21e94227e3583Fe3F5F

Safe 1 was **successfully** upgraded. However, when user initiated upgrade for Safe 2 on iOS, it took them to this page https://etherscan.io/address/0x34CfAC646f301356fAa8B21e94227e3583Fe3F5F
![image](https://

[2022-11-11 23:17] #64 closed

[2022-11-14 23:19] joanpan opened #65 "Send transaction keeps failing"
### Issue Category

Transaction execution issue

### What happened?

User is trying to send LDO tokens (add: 0x5A98FcBEA516Cf06857215779Fd812CA3beF1B32) but the transaction keeps failing

Txn hash:
https://etherscan.io/tx/0x02dd3c0a164e0c3302e8d6b0b04669f461fe8787fc9d45988f1302fce00a485f

Is this a token issue?

### Date and time this happened or you first noticed this issue

12-11-2022

### Netwo

[2022-11-15 09:04] moisses89 commented on #65
Yes, I can see that the ERC20 contract is reverting, https://dashboard.tenderly.co/tx/mainnet/0x02dd3c0a164e0c3302e8d6b0b04669f461fe8787fc9d45988f1302fce00a485f?trace=0.0.2.0.0.0.2.0
[code]

[2022-11-16 01:01] shebeengs opened #66 "[Feedback on new UI] Pressing Enter will replace the entered amount with the MAX amount of tokens in Send Tokens prompt"
### Issue Category

Other

### What happened?

**Feedback from user**

**Replicated steps in a Goerli Safe but user's safe was in Ethereum mainnet:**
1. `New Transaction` > `Send Tokens`
2. Fill out details - recipient, asset and amount
3. Press `Enter `on keyboard.
4. Amount in the `Amount` field is replaced with the `MAX` amount.
5. Same thing happens when I try via `Assets` > hover on token > `

[2022-11-16 08:39] johannesmoormann commented on #66
thanks for the report! we will change the outlined behavior.

[2022-11-16 18:02] shebeengs commented on #66
Thank you 🙏

[2022-11-16 18:02] #66 closed

[2022-11-16 19:22] jakekvm01 opened #67 "Can't connect metamask + trezor with the safe using the new UI (ethereum and polygon)"
### Issue Category

Other

### What happened?

Hey Guys since the update the app has been really unreliable
I can no longer connect with my hardware wallet.

https://app.safe.global/matic:0x6279ff3716Dc541eC639026D29f0cC528C0C43be/home
https://app.safe.global/eth:0x87Eb1da61e5A45beE2F7Cb21586E68359C4FD370/home
https://app.intercom.com/a/inbox/km54f6ih/inbox/shared/all/conversation/36000020247?view

[2022-11-16 23:44] joanpan commented on #65
Thanks, will let the user know

[2022-11-17 12:55] moisses89 commented on #67
@jakekvm01 the issue mentions the web update but the video shows the old one, where are you experiencing the issue? in the old one or in the new interface?

[2022-11-17 12:56] liliya-soroka commented on #49
thank you for reporting. The issue on the ios app board is created - [Can't sign tx using AlphaWallet](https://github.com/safe-global/safe-ios/issues/2793) .

[2022-11-17 15:24] jakekvm01 commented on #67
User said he can't connect after the update but seems the video still did use the old UI. He was able to resolved the issue though. Thank you @moisses89

[2022-11-17 15:25] #67 closed

[2022-11-17 23:50] #65 closed

[2022-11-18 03:25] zhangzhongnan928 commented on #49
It seems that the issue was solved with 3.18.1(1435).

[2022-11-19 01:00] joanpan opened #69 "Unknown safe address displayed in the Safe UI"
### Issue Category

Other

### What happened?

User reported seeing a different address displayed in the Safe interface. Their safe address is 0x1ec078551A5ac8F0f51fAc57Ffc48Ea7d9A86E9d but 0x2C5dAF7D5a766a73E907fB7470Eb7C6E71AAF15b is displayed. User does not own the latter. Tried different browsers, same issue. I get the same behavior on my end too.

![image](https://user-images.githubuserconten

[2022-11-20 11:45] liliya-soroka commented on #69
Could you provide more information, please?
How did you reproduce it?
<img width="785" alt="image" src="https://user-images.githubusercontent.com/338622/202900132-dd968d42-6f56-4426-83f9-f9a1712dbef4.png">

[2022-11-20 17:14] shebeengs opened #70 "Token-missing in Optimism: Received USDT does not appear/update balance in the interface (both old and new)"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

User sent USDT to his safe in this transaction in Optimism: https://optimistic.etherscan.io/tx/0x95b2a56d2e8f0181b0558d3c5f12541467fd464eee551de1e1186406ec5f41ab

USDT balance can be seen in the block explorer but not in the interface:

![image](https://user-images.githubusercontent.com/5475

[2022-11-20 19:38] shebeengs opened #71 "Token missing in Polygon: Received USDC does not appear/update balance in the interface (both old and new) in Polygon"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

User sent USDC to his safe in this transaction in Polygon: https://polygonscan.com/tx/0xdb9b75bad6c680678d1fc11bb475be5a1651cd821e8d1ac4589ef0a2f7c392f6

USDC balance can be seen in the block explorer but not in the interface:

![image](https://user-images.githubusercontent.com/54754746/2029

[2022-11-20 19:44] shebeengs commented on #71
Appeared in the interface now.

[2022-11-20 19:44] #71 closed

[2022-11-21 09:26] moisses89 commented on #70
Reindexing should appear in a while.

[2022-11-21 11:13] hectorgomezv commented on #70
Hi @shebeengs, I think the missing token it's shown in the UI now, could you double check?

![Screenshot 2022-11-21 at 12 11 24](https://user-images.githubusercontent.com/21182069/203036530-293638d8-3bc8-405f-8e38-af2e75adf453.png)

[2022-11-21 16:30] shebeengs commented on #70
Yes, it does now. I see the user was able to transfer as well :) Thank you 🙏

[2022-11-21 16:30] #70 closed

[2022-11-22 00:43] joanpan opened #72 "[Polygon] NFT not showing in Assets page"
### Issue Category

Transaction missing / not visible in app or service

### What happened?

ERC721 NFT not showing up on Assets page. User is the developer and mentioned that they are not able to verify the contract -- is this what's causing the issue?

https://polygonscan.com/address/0xABDce09D5989D7E2e9Fc53132718A7F5129f2625#tokentxnsErc721

![image](https://user-images.githubusercontent.com/11

[2022-11-22 10:10] usame-algan commented on #72
Checked both in the old and new app and can see all NFTs. The screenshot is from the old app and might have to do with a request timeout because we don’t use the paginated endpoint there. For an improved UX we recommend to use the new app under app.safe.global

[2022-11-22 18:03] joanpan commented on #72
Thank you!

[2022-11-22 18:03] #72 closed

[2022-11-23 11:38] CindyLo0 opened #73 "Signing long message (>1024) in MM +Trezor wallet is not supported"
### Issue Category

Other

### What happened?

A user posted this feature request in Intercom but has not replied to follow ups. Not sure if this is worth looking into. Please let me know or if we can close.

![image](https://user-images.githubusercontent.com/79137197/203536824-3272763c-e32f-45e7-bf22-5614cbbe4e58.png)

### Date and time this happened or you first noticed this issue

23-11-2022 13

[2022-11-23 21:57] joanpan opened #74 "[Polygon] Tokens not showing up in Assets page / balance not updating"
### Issue Category

Token balance not up-to-date, in the interface or service

### What happened?

Two users have reported token balance not updating

Safe address: 0x0556887acf3dcbdd4d4370df5a57a1bda536137b
Txn hash: https://polygonscan.com/tx/0x22e238820df5d42c9e95d135ab47cac22b5389495f5c11059b641a1414715a0f
![image](https://user-images.githubusercontent.com/114049668/203652327-304ca418-c270-449

[2022-11-23 23:42] joanpan commented on #74
Another user reported similar issue

safe address: 0xb24Bf9DE7819d88d657b24cc2f56e1682c21DEE5

![image](https://user-images.githubusercontent.com/114049668/203664228-67487c2c-0aae-4c5e-9fae-12681b43b57c.png)
![image](https://user-images.githubusercontent.com/114049668/203664343-bddd5c33-8504-4e70-b9e6-4cc8da1332c5.png)

https://polygonscan.com/tx/0x7eef7f66348b6bfaaad6897a8839604a0f4680fae8fc7d9f9

[2022-11-24 02:50] Sherie15 opened #75 "ACC Web3.0 Fund (AWF) shows incorrect fiat value of assets in the Safe UI"
### Issue Category

Other

### What happened?

The user claimed that the price of the asset is wrong - ACC Web3.0 Fund (AWF). May we know which price oracle the token is pulling out from the Safe and it is possible to remove the price for the token?

1inch shows _**price is unknown**_ for the token
https://app.1inch.io/#/1/unified/swap/AWF/DAI
![image](https://user-images.githubusercontent.com/113

[2022-11-24 05:51] Sherie15 opened #76 "A "send" transaction shown as "contract interaction" in the pending queue for sending a Bevvies NFT"
### Issue Category

Other

### What happened?

![image](https://user-images.githubusercontent.com/113986185/203699671-6fa6855d-439e-4e59-a994-4cb5b020a25a.png)
![image](https://user-images.githubusercontent.com/113986185/203699686-0bf13ab2-88c5-4980-900b-a685f21a1fea.png)

https://etherscan.io/token/0x3a07a0e07ee928df401e1cec8d001a3bfdd5dbd2?a=0xF4A3aeEbA5Ab408e65c9a97b56923FDa8142B41B

### Date a

[2022-11-24 09:57] ZeroV0LT commented on #74
Please reopen as also today is not working.

Here is real balance:

https://polygonscan.com/token/0x4e6ace2f99d94aabf8ffbbbf487adb40b1f875a5?a=0xce31ab3b71cc5b7bf5e649844ced0329e3099db0

But in web app is still showing 6 YLM as balance:

![image](https://user-images.githubusercontent.com/16348495/203754136-8468562c-8ad8-4b35-8fc2-f082e5bfb147.png)

[2022-11-24 10:00] ZeroV0LT opened #77 "[Polygon] Tokens not showing up in Assets page / balance not updating"
Please reopen as also today is not working.

Here is real balance:

https://polygonscan.com/token/0x4e6ace2f99d94aabf8ffbbbf487adb40b1f875a5?a=0xce31ab3b71cc5b7bf5e649844ced0329e3099db0

But in web app is still showing 6 YLM as balance:

![image](https://user-images.githubusercontent.com/16348495/203754136-8468562c-8ad8-4b35-8fc2-f082e5bfb147.png)

_Originally posted by @ZeroV0LT in https://github

[2022-11-24 12:14] Uxio0 commented on #77
We are having recurring issues of ERC20 indexing on Polygon and we are doing our best to fix them

[2022-11-24 12:22] Uxio0 commented on #75
Maybe there was temporary liquidity in any of our oracles, price is `0` now

[2022-11-24 12:22] #75 closed

[2022-11-25 12:27] CindyLo0 opened #78 "Incorrect safe nonce generated"
### Issue Category

Other

### What happened?

Issue:

1. User has 2 Safes on different chains, Avalanche and Ethereum with the same signer wallet.
2. Both safes are set up in the same browser with MetaMask extension
3. Avalanche current nonce was 583 when user submitted transaction.
4. User then switched Safe to Ethereum but did not switch MetaMask wallet to Ethereum yet. Ethereum safe current no

[2022-11-25 14:13] jakekvm01 opened #79 "Delay in updating the transaction queue and history (Ethereum)"
### Issue Category

Other

### What happened?

Delay in updating the transaction queue and history.
https://app.intercom.com/a/inbox/km54f6ih/inbox/shared/all/conversation/36000020533?view=List

Please see attached screenshots:
![image](https://user-images.githubusercontent.com/105864754/204002233-847a3800-8b15-4756-870e-adda6a2a87e7.png)
![image](https://user-images.githubusercontent.com/10586475

[2022-11-25 14:46] jakekvm01 commented on #79
Resolved. Thank you

[2022-11-25 14:47] #79 closed

[2022-11-28 06:39] Sherie15 opened #80 "[Connect to Mobile functionality doesn't work]"
### Issue Category

Other

### What happened?

The user issue
_Connect to Mobile functionality doesn't work.. I installed Safe on MacOS, v3.22.1, clicked Connect Wallet, then I scanned QR (Connect to Mobile) using my Safe on mobile (Settings>Connect to Web)_

_Results, it is stuck on "Connection requested window" and only Reject is active on the bottom, Confirm inactive. Then error showed: "Failed

[2022-11-28 09:02] oceanemil commented on #50
Same issue MacOS  v13.0.1
Cannot connect Trust via Wallet connect on Safe desktop app (v3.22.1) on MacOS

[2022-11-28 21:29] dancog1972 commented on #74
Hi team,
we keep on having the same issue over and over, with transactions not showing or taking long time to show in the UI.
https://app.safe.global/matic:0xCE31AB3B71Cc5b7bF5e649844CEd0329e3099db0/balances

[2022-11-28 21:56] TanyaEfremova commented on #78
Thank you for reporting @CindyLo0 ! We created a bug issue and will be working on fixing it.

[2022-11-29 09:33] TanyaEfremova commented on #80
Hi @Sherie15, could you try to reload the **Web App page** please and tell whether it solves the issue?

[2022-11-29 18:49] oceanemil commented on #80
Hi Tanya, it is not a web app, it is a Desktop app for Mac OS v3.22.1 (the last one)

[2022-11-30 10:29] fmrsabino commented on #76
Hi @Sherie15

The specified token (address `0x3a07A0E07eE928dF401e1cEC8D001A3bfdD5DbD2`) does not have a symbol associated with it so it's not indexed by our service.

We only index tokens which contain a `name` and `symbol`.

[2022-11-30 15:40] jakekvm01 opened #81 "USDC tokens are not shown in the UI (Arbitrum)"
### Issue Category

Token missing completely / not visible in the interface or service

### What happened?

USDC tokens are not shown in the UI (Arbitrum)

https://app.intercom.com/a/inbox/km54f6ih/inbox/admin/5304357/conversation/36000020664?view=List
https://arbiscan.io/tx/0x2f5b4c55ad00ae8c1f11505605772a5c341cc09ce34e8705a4a5e8b12b28cbb6

![image](https://user-images.githubusercontent.com/10586

[2022-11-30 15:40] #81 closed

[2022-11-30 16:24] usame-algan commented on #80
Hi @oceanemil, I can confirm that it doesn't work on the desktop app for Mac OS v3.22.1. We might release another version for the desktop app that includes a fix but not timeline given yet. We stopped active development for safe-react (which the desktop app is based on) with the release of web-core. In the meantime I suggest to use either of the web apps for full functionality.